-
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
doctype html
html(lang="en")
  head
    title aSocial
    style
      include feed.css
  body
    h1
      a(href="/") aSocial
    div(id="posts_heading")
      h2= 'Welcome, '
        span(class="name")= name + '.'
      p Here's your feed.
      p(id="newpost")= 'New post'
      div(id="writepost")
        input(type="text", name="post_text", id="post_text")
        button(id="postbutton") Post
    div(class="posts")
      each post in posts
        div(class="post")
          p(class="date")= months[post.date.month] + " " + post.date.day + ", " + post.date.year
          p(class="text")= post.text
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")          
    script(src="../js/feed.js")
