-
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  var rIcons = ['favorite', 'people_outline', 'public', 'school', 'whatshot', 'new_releases', 'book', 'lock_outline', 'alarm_off', 'nature'];
  var rColors = ['#ff1975', '#ffaa00', '#0083ff', '#a100ff', '#ffbb00', '#ff6100', '#00d882', '#d83200', '#2b00d8', '#00d85d'];

doctype html
html(lang="en")
  head
    title aSocial
    style
      include feed.css
      include main.css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body(id="bootstrap-overrides")
    header
      form(id="gohome" action="/" method="post")
        input(name="id" class="userid" style="display:none" value=_id)
        input(type="submit" class="logo" value="aSocial")
      form(id="gofriends" action="/friends" method="post")
        input(name="id" class="userid" style="display:none" value=_id)
        button(type="submit" class="friendsbutton" id="friendsbutton")
          i(class="material-icons") people_outline
      a(href="/login" class='red' id="logoutbutton")
        i(class="material-icons") power_settings_new
      a(target="_blank" href="/about" id="aboutbutton")
        i(class="material-icons") info_outline
    div(class="content")
      div(class="heading")
        div(id="profpicwrap")
          div(id="profpic")
          script var image = "#{image}";
        form(id="ppform" class='outside' name="ppform" action="/profpic" method="post" enctype="multipart/form-data")
          input(type="file" name="ppinput" id="ppinput" accept="image/*")
        div
          h2= 'Welcome, '
            span(class="name")= name.split(' ')[0] + '.'
          p This is where all your posts live.
      div(class="feedbody")
        script var postsLength = 0;
        script var notifications = [];
        div(class="nheader")
          h4 Feed
          a(class="button" id="newpost")= 'New post'
        form(id="writepost" action = "" method="post" class="card")
          h5 Write something...
          input(id="user_id" class="userid" style="display:none" value=_id)
          textarea(rows="1", name="post_text", id="post_text" autocomplete="off")
          button(type="button" id="postbutton") Post
        if posts.length == 0
          div(class="welcome card")
            p(class="text") Welcome to aSocial! You can start populating your profile by writing your first post.
        div(class="posts")
          each post, index in posts
            script postsLength++;
            script notifications.push('#{post.share_dates}');
            div(class="card" class="post" id=index)
              p(class="post_id")= post._id
              table(class="top")
                td
                  div(class="reactme" style="background:" + rColors[post.reaction] + "; opacity:" + post.memory)
                    if(post.reaction != -1)
                      i(class="material-icons big white")= rIcons[post.reaction]
                    else
                      h5(class="blankreaction") ...
                  div(class="rdropdown")
                    p This makes me feel...
                    table(class="roptions")
                      td(class="column")
                        div(class="roption" id="r0")
                          i(class="material-icons") favorite
                          p kind
                        div(class="roption" id="r1")
                          i(class="material-icons") people_outline
                          p extraverted
                        div(class="roption" id="r2")
                          i(class="material-icons") public
                          p open
                        div(class="roption" id="r3")
                          i(class="material-icons") school
                          p diligent
                        div(class="roption" id="r4")     
                          i(class="material-icons") whatshot
                          p neurotic
                      td(class="column")
                        div(class="roption" id="r5")
                          i(class="material-icons") new_releases
                          p evil
                        div(class="roption" id="r6") 
                          i(class="material-icons") book
                          p introverted                      
                        div(class="roption" id="r7")
                          i(class="material-icons") lock_outline
                          p intolerant
                        div(class="roption" id="r8")
                          i(class="material-icons") alarm_off
                          p lazy
                        div(class="roption" id="r9")
                          i(class="material-icons") nature
                          p stable
                td(class="top")
                  p(class="date")= months[post.date.month] + " " + post.date.day + ", " + post.date.year
                  p(class="text" style="opacity:" + post.memory)= post.text
              div(class="post-buttons")
                i(class="button material-icons commentme") mode_comment
                i(class="button material-icons share") send
                i(class="button material-icons forget red" id="forget") delete
              div(class="cheading")
                hr
              form(class="commentform")
                //input(type="text" class="id" value=_id)
                //input(type="text" class="id" value=post._id)
                textarea(rows="1" class="comment-text")
                button(type="button" class="comment-button")
                  i(class="material-icons") check
              form(class="shareform")
                div(class="part1")
                  p(class="faded")= 'Share with'
                  select(class="recipient")
                    option(class="self" value="self")= name.split(' ')[0]
                    each friend in friends
                      option(value=friend)= friend
                div(class="part2")
                  p(class="from faded")= 'from'
                  input(type="date" name="date" class="dateinput")
                button(type="button" class="sharebutton")
                  i(class="material-icons") check
              div(class="comments")
                each comment in post.comments
                  div(class="comment")
                    p(class="date")= months[comment.date.month] + " " + comment.date.day + ", " + comment.date.year
                    p(class="text" style="opacity:" + post.memory)= comment.text
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous")
    script var personId = "#{_id}"; var personName = "#{name}";
    script(src="../js/feed.js")
