-
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
doctype html
html(lang="en")
  head
    title aSocial
    style
      include feed.css
      include main.css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      form(id="gohome" action="/" method="post")
        input(name="id" class="userid" style="display:none" value=_id)
        input(type="submit" class="logo" value="aSocial")
      form(id="gofriends" action="/friends" method="post")
        input(name="id" class="userid" style="display:none" value=_id)
        input(type="submit" class="friendsbutton" value="Friends")
    div(class="content")
      div(class="heading")
        h2= 'Welcome, '
          span(class="name")= name.split(' ')[0] + '.'
        p Here's your feed.
        a(class="button" id="newpost")= 'New post'
        form(id="writepost" action = "" method="post" class="card")
          h5 Write something...
          input(id="user_id" class="userid" style="display:none" value=_id)
          input(type="text", name="post_text", id="post_text" autocomplete="off")
          button(type="button" id="postbutton") Post
      div(class="posts")
        script var postsLength = 0;
        each post, index in posts
          script postsLength++;
          div(class="card" id=index)
            div(class="top")
              p(class="date")= months[post.date.month] + " " + post.date.day + ", " + post.date.year
              p(class="text")= post.text
            div(class="post-buttons")
              a(class="commentme") Comment
              a(class="share") Share
            form(class="commentform")
              input(type="text" class="id" value=_id)
              input(type="text" class="id" value=post._id)
              input(type="text" class="comment-text")
              button(type="button" class="comment-button") Post
            div(class="comments")
              each comment in post.comments
                div(class="comment")
                  p(class="date")= months[comment.date.month] + " " + comment.date.day + ", " + comment.date.year
                  p(class="text")= comment.text
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script var personId = "#{_id}";
    script(src="../js/feed.js")
