doctype html
html(lang="en")
  head
    title aSocial
    style
      include main.css
      include friends.css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body(id="bootstrap-overrides")
    header
      form(id="gohome" action="/" method="post")
        input(name="id" class="userid" style="display:none" value=_id)
        input(type="submit" class="logo" value="aSocial")
      form(id="gofriends" action="/friends" method="post")
        input(name="id" class="userid" style="display:none" value=_id)
        button(type="submit" class="friendsbutton" id="friendsbutton")
          i(class="material-icons") people_outline
      a(target="_blank" href="/about" id="aboutbutton")
        i(class="material-icons") info_outline
      a(href="/login" class='red' id="logoutbutton")
        i(class="material-icons") power_settings_new
    div(class="content")
      div(class="heading block")
        h2 Friends
        p These are the people you consider your friends.
        div(class="nheader")
          a(class="button" id="newfriendb") New friend
      div(class="friends")
        div(class="card" id="addfriendcard")
          h5 Who is your friend?
          form(id="newfriend" onsubmit="addFriend()" method="post")
              input(id="user_id" class="userid" style="display:none" value=_id)
              input(type="text", name="friend_name", id="friend_name" autocomplete="off")
              button(type="submit" class="sharebutton" id="postbutton")
                i(class="material-icons") check
        div(id="friendslist")
          script var friendsLength = 0;
          each friend, index in friends
            script friendsLength++;
            div(class="card friend" id=index)
              div(class="top")
                p(class="friendname")= friend
              form(class="friend-buttons")
                input(type="text" class="id" value=_id)
                i(class="button material-icons removefriend red") delete
      div(id="friendmessage" class="hidden")
        div(class="card" id="friendfeedback")
          h5 Why is your friendship over?
          p For increased closure, consider providing feedback as to why you're removing your friend.
          input(type="radio" name="reason" value="0")
          span We simply grew apart over time.
          br
          input(type="radio" name="reason" value="1")
          span This person hurt my feelings.
          br
          input(type="radio" name="reason" value="2")
          span Our principles clash too much.
          br
          input(type="radio" name="reason" value="3")
          span I did something bad to this person.
          br
          input(type="radio" name="reason" value="4")
          span We weren't friends in the first place.
          br
          input(type="radio" name="reason" value="5")
          span Other:
          input(type="text")
          div(style="display: flex; align-items: center; justify-content: center; width: 100%;")
            button(class="button" onclick="hideForm()") Cancel
            button(type="button" onclick="removeFriend()" class="red") Remove Friend 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script var personId = "#{_id}";
    script(src="../js/friends.js")
